.container {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    padding: 15px;
    display: block;
    margin: auto;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}

.modal-container {
    width: 50%;
    height: 50%;
    border-radius: 15px;
    padding: 15px;
    display: block;
    margin: auto;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: #fafafa;
}

.post-container {
    width: auto;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #007bff;
    display: flex;
    justify-content: center;
}

.input {
    border-style: none;
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 90%;
    height: 20px;
    padding: 15px 15px;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.input-error {
    color: red;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;
}

.button {
    width: 95%;
    background-color: #007bff;
    color: black;
    border-radius: 10px;
    border-style: none;
    padding: 15px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.create-post-button {
    width: 20%;
    border-style: none;
    background-color: #007bff;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    color: white;
}

.feed-input {
    width: 100%;
    height: 50%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    outline: none;
}

.div-container {
    display: flex;
    justify-content: space-between;
}
